

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    text-align: center;
    border-bottom: 1px solid #555;
    border-bottom: none;
    width: 60%;
    float: left;   
}
#navbar{
    width: 100%;
}
#topnav-right{
    float: right;
    margin: 20px;
    padding: 0;
}