li {
    float: left;    
}

#name{
    width: 30%;
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10%;

}

body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/**unable to add backround image*/

h2{
    color: #4aaaa5;
    font-size: 25px;
    padding-left: 100px;
}
.AboutMe{
    float: left;
    padding: 10px;
} 
.footer{
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    position:fixed;
    bottom:0;
    height: 40px;
    width:100%;
    border-top: 8px solid #4aaaa5;
    padding-bottom: 10px;
}
img{
    border: #666666;
    border-width: 2px;
    padding: 0 15px 0px 100px;
    float: left;
}

p{
    padding-left: 100px;
    margin-top: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  hr{
      margin-left: 100px;
  }

  form{
      padding-left: 100px;
  }
  /* Container holding the image and the text */
.container {
    position: absolute;
  }
  
  /* Hangman text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:#4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    text-align: center;
    font-size: 15px;
  }
  .container2 {
    position: relative;
  }