li {
    float: left;    
}

.name{
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}
